#testDiv {
	background-color: #666;
	padding: 25px 0;
}

.athleteBtn {
	margin: 5px auto;
	background-color: #fff;
	border-radius: 5px;
	height: 50px;
}

.athleteNameDiv p {
	margin: 17px 0 0 0;
	padding-left: .5rem;
	font-size: 1.3rem;
}
